.cursor {
    display: inline-block;
    width: 8px;
    background: #00ffff;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    60% {
        opacity: 0;
    }
}

@keyframes neonGlow {
    20% {
        box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff;
    }

    50% {
        box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 60px #00ffff;
    }

    100% {
        box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff;
    }
}

.animate-glow {
    animation: neonGlow 1.5s infinite alternate ease-in-out;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    position: absolute;
    background: transparent;
}